name: Build & Release

on:
  push:
    tags:
      - 'v*' # Triggers on v1.0.0, v0.0.1, etc.

permissions:
  contents: write # To create releases

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      # Calling the build script 
      # It will automatically detect that it is on GitHub Actions and enable publishing
      - name: Build and Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build:electron